.review-card::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: url("/src/resources/images/grid-bg.png");
  background-size: 11px 11px;
}
